
/* src/pages/ShoppingPage.css */
.shopping-page {
  padding: 80px 20px 20px; /* Add padding at the top */
}
  .shopping-items {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background for items */
    padding: 10px;
    border-radius: 5px;
  }
  