/* src/pages/SignInSignUpPage.css */
.signin-signup-page input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2980b9; /* Button color */
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

button:hover {
  background-color: #3498db;
}
