/* src/GlobalStyles.css */
body {
  background-color: #25313e; /* Darker shade of blue/gray */
  color: #79e4ff62; /* Light text color for contrast */
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #297fb967; /* Button color */
  color: #f1544c85;
  padding: 15px 20px;
  margin: 19px;
  border: 15px;
  border-width: 20px;
  border-color: rgb(230, 153, 52);
  border-radius: 50px;
  cursor: grab;
  font-size: 20px;
  
}

.button:hover {
  background-color: #3adc4537;
}
